.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  min-height: 100vh;
  gap: 1rem;
}
.home-core {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
.home-exp-btn {
  position: absolute;
  right: 1rem;
  border-radius: 15px;
  height: 75px;
  width: 200px;
  font-size: 18px;
  font-weight: 800;
  aspect-ratio: 1/1;
  padding: 1rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);

  top: 50%;
}
.home-main-bg-carousel {
  width: 100%;
  max-height: 65vh;
}
.home-main-bg-carousel ul li .carousel-card {
  height: 100%;
}

.home-main-bg-carousel ul li .carousel-card .carousel-product-image {
  border-radius: 0;
}
.home-products-row-container {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  gap: 5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
* {
  font-family: var(--font-family-montserrat);
}
.home-product-card {
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow: hidden;
  flex: 1;
  min-width: 250px;
  width: calc(25% - 10px);
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.product-card-img {
  height: 100%;
  width: 100%;
  aspect-ratio: 4/3;

  object-fit: cover;
}

.product-card-details {
  display: flex;
  flex-direction: column;
  gap: 2px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent overlay */
  color: black;
  padding: 1rem;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}
.home-product-card:hover .product-card-details {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.product-size-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-color-icon {
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
  border-radius: 100%;
}
.product-card-price-text {
  display: flex;
  gap: 1rem;
}
.product-card-sale {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;

  height: 20px;
  padding: 2px;
  background-color: orange;
  border-radius: 2px;
}
