.menu-main {
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
  /* background-color: var(--color-footer); */
  font-family: var(--font-family-montserrat);
  /* gap: 1rem; */
  border-radius: 25px;
  margin: 0;
}
.menu-core {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-montserrat);
  font-weight: 600;
}
