* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  /* background-color: var(--bg-color); */
  background: white;
  color: var(--font-color2);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}

:root {
  --bg-color: #f1f3f4; /* Light background */
  --font-color2: black; /* Light text color */
}

/* Dark mode styles */
body[data-theme="dark"] {
  --bg-color: #252627; /* Dark background */
  --font-color2: white; /* Dark text color */
}

a {
  color: unset;
  text-decoration: none;
  margin: 0;
  padding: 0;
  height: fit-content;
}
html {
  scroll-behavior: smooth;
}
p {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h1 {
  margin: 0px;
}
input {
  align-self: center;
}
