@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@font-face {
  font-family: "Akira";
  src: url("/src/assets/Fonts/Akira Expanded Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* Uncomment if you want to use a background image */
  /* background-image: url('./assets/BGs/BG Plain.png'); */
  background-color: #f1f3f4;
  line-height: normal;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Use transparent or a color */
}

:root {
  --font-family-manrope: "Manrope", sans-serif;
  --font-family-akira: "Akira", sans-serif;
  --font-family-space: "Montserrat", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-source: "Source Sans Pro", sans-serif;
  --font-family-redhatdisplay: "Red Hat Display", sans-serif;

  /* Default colors */
  --fg-color: #4285f4;
  --bg-color: #f1f3f4;
  --font-color1: white;
  --font-color2: black;
  --gdgyellow: #fabd03;
  --gdgblue: #4285f4;
  --gdgred: #ea4235;
  --gdggreen: #109d58;
}

/* You can toggle light and dark themes with a class on the body */
body.light-mode {
  --fg-color: #4285f4;
  --bg-color: #f1f3f4;
  --font-color1: white;
  --font-color2: black;
}

body.dark-mode {
  --fg-color: #4285f4;
  --bg-color: #252627;
  --font-color1: black;
  --font-color2: white;
}
